@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#network path:hover{
  fill: #e56600;
}

#margin a {
  color: #17BCB8;
}

#margin a:hover {
  text-decoration: underline;
}

#margin p img {
  margin: 0 auto;
}

#margin p:nth-last-child(-n+2) {
  margin: 0px;
}

#margin p:nth-last-child(-n+2) img {
  margin: 0px;
}

#margin p:last-child {
  margin: 0 0 16px 0;
}

#margin p, ul {
  margin-bottom: 16px;
}

#margin ul li {
  margin-left: 32px;
  margin-bottom: 16px;
}

#margin hr {
  margin-top: 16px;
}

#link a {
  color: #007bff;
}

#link a:hover {
  color:#0056b3;
  text-decoration: underline;
  text-decoration-color: #0056b3;
}

.hideMenuNav {
  display: none;
}

.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}